/* Global Styles */

html,
body {
    height: 100%;
    font:14px Roboto,Arial,Sans-serif;
    
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(./../fonts/roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin-top:10px;
    padding: 15px 0;
    background-color: rgba(1,1,1,0.85);
    color: #fff;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

.service_item{
    padding-top: 30px;
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 10px;
    margin-bottom: -15px;
    margin-top: 15px;
}
.service_item:hover {
    box-shadow: 5px 5px 20px #ccc;
}
.service_item h3{
	color:#00b0ff;
	text-align:center;
}

#contact-heading {
	color:#00b0ff;
}

.contact-content{
	color: #888;
}

h4.media-heading {
    padding-top: 5px;
}
.service_item p{
	padding-left:20px;
	border-left:3px solid #2255dd;
	color:#999;
}
.scrollToTop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    border-radius: 100%;
    color: #fff;
    border: 3px solid #fff;
    padding: 5px 8px 10px 7px;
    cursor: pointer;
    background: #004B8F;
}
#accordion .panel {
    border: none;
}
#accordion .panel-heading {
    background-color: #fff;
    border: none;
}
#accordion .panel-title:before {
	content:"\e080";
	position:relative;
	top:0px;
	display:inline-block;
	font-family:'Glyphicons Halflings';
	font-style:normal;
	font-weight:100;
	font-size:12px;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
#accordion .panel-body {
    background-color: #dff0d8;
    border: none;
}
.faq-heading{
    text-decoration: underline;
    color: 00b0ff;
}
.home-service-item-body {
    letter-spacing: 1px;
    padding: 10px 25px;
    text-align: justify;
    color: #888;
}
.home-service-item {
    font-size: 24px;
    color: #00b0ff;
    text-decoration: underline;
    margin-bottom: 20px;
}
.home-service {
    border-bottom: 1px solid rgba(1,1,1,0.05);
    margin-top: 15px;
    padding: 10px;
}
.service-item-img{
    width:100%;
    display: none;
}
.home-service .home-service-item-body ~ .col-md-6{
    background-size: 100%;
    min-height:250px;
    background-repeat: no-repeat;
}
.home-service:nth-child(1) .home-service-item-body ~ .col-md-6{
    background-image: url('./../images/1.jpg');
}
.home-service:nth-child(2) .home-service-item-body ~ .col-md-6{
    background-image: url('./../images/banner-guidence.jpg');
}
.home-service:nth-child(3) .home-service-item-body ~ .col-md-6{
    background-image: url('./../images/student-interns11-1024x572.jpg');
}
.brand-banner {
    color: #004B8F;
    margin-top: 15px;
}
.navbar-custom {
    background-color: rgba(1,1,1,0.85);
    color:#fff;
}
.navbar-custom a{
    color:#fff !important;
}

.dropdown-menu a {
	color:rgba(1,1,1,0.85) !important;
}
.navbar-custom .nav>li>a:focus,.navbar-custom .nav>li>a:hover {
    color: #aaa;
    background-color: transparent;
    text-decoration: none;
}

.navbar-toggle .icon-bar {
	background-color: #fff !important;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background-color: #27C3FF;
}
.country-heading{
	color: #00b0ff;	
}
.jssocials-share-link {
    padding: 0.8em 1.5em !important;
    border-radius: 15px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-align: left;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: underline; 
    background-color: transparent;
    color: #ccc;
    cursor: pointer;
}
div#share {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.about-content {
	color: #888;
}

.well {
	color: #888;
}

.cimm-navbar {
	padding-top: 5px;
}

.modal-header{
	background: rgba(222,222,222,1);
	background: -moz-linear-gradient(left, rgba(222,222,222,1) 0%, rgba(222,222,222,1) 1%, rgba(212,212,212,1) 13%, rgba(230,230,230,1) 62%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(222,222,222,1)), color-stop(1%, rgba(222,222,222,1)), color-stop(13%, rgba(212,212,212,1)), color-stop(62%, rgba(230,230,230,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(222,222,222,1) 0%, rgba(222,222,222,1) 1%, rgba(212,212,212,1) 13%, rgba(230,230,230,1) 62%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(222,222,222,1) 0%, rgba(222,222,222,1) 1%, rgba(212,212,212,1) 13%, rgba(230,230,230,1) 62%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(222,222,222,1) 0%, rgba(222,222,222,1) 1%, rgba(212,212,212,1) 13%, rgba(230,230,230,1) 62%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(222,222,222,1) 0%, rgba(222,222,222,1) 1%, rgba(212,212,212,1) 13%, rgba(230,230,230,1) 62%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#ffffff', GradientType=1 );
}

.modal-header {
	border-radius:4px;
}

.panel-primary {
    border-color: #00b0ff;
    -webkit-box-shadow: 1px 1px 8px 0px rgba(105,107,105,1);
	-moz-box-shadow: 1px 1px 8px 0px rgba(105,107,105,1);
	box-shadow: 1px 1px 8px 0px rgba(105,107,105,1);
}

.panel-section .panel-heading {
	background-color: #00b0ff !important;
    border-color: #00b0ff !important;
}

.panel-primary>.panel-heading {
	color: rgb(255, 252, 44);
}

.panel-body {
	color: #888;
	letter-spacing: 1px;
	text-align: justify;
}

.panel-section {
	margin-top: 20px;
}

.footer-links {
	color: #fff;
    padding-right: 15px;
}

.footer-links:hover {
	color: #ccc;
}

.bottom-content{
	display:inline-block;
}

.call-us-alert {
	background-color: #FFB100;
    border-radius: 4px;
    height: 31px;
	width: 24%;
    top: 50%;
    left: -10.8%;
    position: fixed;
    z-index: 10;
	-webkit-transform: rotate(-90deg);   
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
}

#call-us-alert-details {
	color: white;
}

#call-us-alert-glyph > a > span.glyphicon.glyphicon-envelope{
	-webkit-transform: rotate(90deg);   
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

#call-us-alert-glyph > .alert-link{
	color: #905E28;
}

.call-us-cont{
	padding-right: 1px;
    padding-top: 6px;
}

#call-us-alert-details{
	padding-left: 1px;
}

#call-us-alert-glyph{
	padding-left: 5px;
}

#call-us-alert-details > span {
	letter-spacing: 0.3px;
}

.about-content {
	text-align: justify;
	
}
@media (min-width: 829px) and (max-width: 976px) {
	.call-us-alert  {
 	   width: 29%;
 	   left: -12.9%;
	}	
}

@media (min-width: 768px) and (max-width: 831px) {
	.call-us-alert  {
 	   width: 32%;
 	   left: -14.1%;
	}
	.call-us-cont {
		display: inline-block;
	}
	#call-us-alert-glyph {
 	   padding-left: 11px;
	}	
}

@media (min-width: 361px) and (max-width: 598px){
	 .call-us-alert{
	 	width: 52%;
	 	left: -22.5%;
	 }
	 .call-us-cont {
		display: inline-block;
	}
	.call-schedule-alert {
		width: 35% !important;
	}
	.dropdown-menu a {
    	color: #fff !important;
	}
}

@media (min-width: 599px) and (max-width: 601px) {
	.call-us-alert{
	 	width: 33%;
    	left: -14.1%;
	 }
	 
	 .dropdown-menu a {
 	   color: #fff !important;
	}
}

@media (min-width: 602px ) and (max-width: 767px) {
	.call-us-alert{
	 	width: 34%;
	 	left: -15.3%;
	 }
	 .call-us-cont {
		display: inline-block;
	}
	.call-schedule-alert {
		width: 35% !important;
	}
	
	.dropdown-menu a {
 	   color: #fff !important;
	}
}

@media (min-width: 320px) and (max-width: 360px) {
	.call-us-alert {
	   width: 57.3%;
   	   left: -24.8%;
	}
	.call-schedule-alert {
		width: 40% !important;
	}
	
	.dropdown-menu a {
    	color: #fff !important;
	}
}

.call-schedule-alert {
	position: fixed;
    bottom: 0;
    z-index: 10;
    background-color: #FFB100;
    width: 25%;
    right: 0;
    border-radius: 5px;
}

.call-schedule-cont {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 0px;
}

#call-schedule-text {
	color: white;
}

.call-schedule-alert {
	cursor: pointer;
}

#sc-status {
	display: none;
	padding: 5px;
	margin-top: 10px;
}

.content {
	position: absolute;
	text-align: right;
	vertical-align: middle;
	padding: 0 0 40px 0;
	margin: auto;
	width: 100%;
}

.content-wrap h1 {
	color: #fff;
	font-size: 51px;
	line-height: 50px;
	text-transform: uppercase;
	margin-bottom: 5%;
	font-weight: 800;
	position: relative;
	text-align: center;
}

.content-wrap h2 {
	color: #fff;
	font-size: 45px;
	line-height: 49px;
	text-transform: uppercase;
	margin-bottom: 2%;
	font-weight: 800;
	position: relative;
	text-align: center;
}

.left-pane, .right-pane {
	padding: 0px;
}

.mini-carousel {
    width: 90%;
    margin: auto;
}

.fa-item-carousel{
	display: block;
	text-align: center;
	width: 20%;
	float: left;
}

.fa-item-carousel-text{
	color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
}

.carousel-indicators .active {
    background-color: #00b0ff;
}

.carousel-indicators li {
	background-color: #ccc;
	border: 0px;
}

div#mini-carousel-lg, div#mini-carousel-md{
	min-height:182px;
}

div#mini-carousel-sm {
	min-height:160px;
}

.fa-item-carousel-md{
	width: 25%;
}

.fa-item-carousel-sm {
	width: 33.33%;
}

/** Mini-Carousel media queries **/
@media (min-width: 768px) and (max-width: 900px){
	.content-wrap h2 {
		font-size: 35px;
		line-height: 38px;
		margin-bottom: 0%;
	}	
	#mini-carousel-sm > .carousel-indicators {
		bottom: 26px;
	}
}

@media (min-width: 901px) and (max-width: 991px) {
	.content-wrap h2 {
		font-size: 43px;
	    line-height: 43px;
	    text-transform: uppercase;
	    margin-bottom: 3%;
	}
}

@media (max-width: 414px) { /* IPhone 6 Plus */
	.content-wrap h2 {
	    font-size: 41px;
	    line-height: 45px;
	    margin-bottom: 0%;
	}
	#mini-carousel-sm .carousel-indicators {
		bottom: 24px;
	}
}

@media (min-width: 320px) and (max-width: 374px){/* IPhone 4 + 5*/
	.content-wrap h2 {
	    font-size: 27px;
	    line-height: 24px;
	    margin-bottom: 0%;
	    margin-top: 9px;
	}
	#mini-carousel-sm .carousel-indicators {
    	bottom: 47px;
	}
	div#mini-carousel-sm {
    	min-height: 182px;
	}
}

@media (min-width: 375px) and (max-width: 413px){ /* IPhone 6*/
	.content-wrap h2 {
	    font-size: 35px;
	    line-height: 33px;
	}
}

@media (min-width: 561px) and (max-width: 766px){
	.content-wrap h2 {
		font-size: 59px;
	    line-height: 60px;
	    margin-bottom: 8%;
	}
	#mini-carousel-sm > .carousel-indicators {
		bottom: 16px;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	/* For xs-resolution, place mini carousel indicators at the center*/
	.mini-carousel > #mini-carousel-sm > .carousel-indicators {
		left: 50%;
	}
}

.mini-carousel .carousel-indicators {
	left: 90%;
}

.services-about-container {
	clear: left;
}

.newsletter-modal-content{
	line-height: 20px;
}

.newsletter-modal-email-container {
	margin-top: 20px;
    margin-bottom: 10px;
}

#email-for-newsletters {
	font-style: italic;
}
